<div class="import-progress">
    <p>
        {{ intro }}
    </p>

    <div class="progress" data-progress-url="{{ progressUrl }}">
        <div class="progress-bar">
            <span style="width: 0"></span>
        </div>
        <div class="numbers">
            0/{{ totalCount }}
        </div>
    </div>
</div>
